.footer{
    background-color: #0F0E0E;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-image{
    width: 364px;
    margin-bottom: 10px;
}

.items{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    margin-bottom: 15px;
}

.copyright{
    font-size: 14px;
    color: #AAAAAA;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    width: 100%;
}

.row{
    width: 100%;
}

ul{
    list-style: none;
}