.bg-header{
  background-image: url('./assets/Landing-Header-OTT-3.png');
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  background-size: cover;
}

.bg-header img{
  /* height : 1024px; */
  width: 576px;
}

.header-hero{
  transition: transform 0.25s ease-out;
  will-change: transform;
}

.bg-header h2{
  color: #d7008c;
  font-family: 'Kamerik 105 Cyrillic','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0;
  transform: translateX(-50px);
  animation: header-fade-left 1.0s ease-out forwards;
}

@keyframes header-fade-left{
  from{
    opacity: 0;
    transform: translateX(-50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.bg-header h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 109px;
  font-weight: 500;
    transform: translateX(-50px);
  animation: header-fade-left 1.5s ease-out forwards;
}

.bg-header .header-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-header p{
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}

.bg-header .header-text .app-store , .bg-header .header-text .play-store{
  width: 20rem;
}

@media all and (max-width: 1024px) {
  .bg-header{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .bg-header img{
    width: 80%;
    margin-bottom: 2rem;
  }

  .bg-header h1{
    font-size: 64px;
  }

  .bg-header p{
    font-size: 18px;
    line-height: 28px;
  }

  .bg-header .header-text .app-store , .bg-header .header-text .play-store{
    width: 15rem;
  }
}