.pink-color{
  color: #D7008C;
}

.font-kamerik{
  font-family: 'Kamerik 105 Cyrillic','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}

.about-section{
  display: flex;
  flex-direction: column;
}