.pink-color {
  color: #d7008c;
}

.pink-dark-color {
  background-color: transparent;
  background-image: linear-gradient(105deg, #AC0070 0%, #73004B 100%);
}

.app-store , .play-store{
  width: 20rem;
}

.font-kamerik {
  font-family: "Kamerik 105 Cyrillic", "Pluto Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}

.about-section {
  display: flex;
  flex-direction: column;
}

.scaled-logo {
  width: 450px !important;
}

.no-wrap {
  flex-wrap: nowrap !important;
}

.bg1 {
  background-image: url("./assets/Light-Bottom.png");
  background-size: cover;
}

.bg2 {
  background-image: url("./assets/Light-Bottom-1.png");
  background-size: cover;
}

.h16{
  height: 16px;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(24px);
}

.fade-in-up.is-visible {
  animation: fade-in-up 0.9s ease-out forwards;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-right {
  opacity: 0;
  transform: translateX(32px);
}

.slide-in-right.is-visible {
  animation: slide-in-right 0.8s ease-out forwards;
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(32px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
